<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <%= if Guardian.Plug.current_token(@conn) do %>
    <meta name="guardian_token" content="<%= Guardian.Plug.current_token(@conn) %>">
    <meta name="current_user" content="<%= current_user(@conn).id %>">
    <% end %>

    <title>Hello Phamello!</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <%= render Phamello.SharedView, "navigation.html", current_user: current_user(@conn), conn: @conn %>
      <%= render Phamello.SharedView, "flash_data.html", conn: @conn %>

      <main class="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
