<div class="text-center">
  <h2><%= gettext "Welcome to %{name}", name: "Phamello!" %></h2>
  <p>
    <em>Phamello integrates the Phoenix framework, Amazon S3 and Trello.</em>
  </p>
  <p><%= link "Login with Github", to: auth_path(@conn, :request), method: :get, class: "button large" %></p>
  <p>Or clone me at <small><%= link "sixFingers/phamello", to: "https://github.com/sixFingers/phamello", method: :get %></small></p>
</div>
